@each $space in (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 59, 60, 70, 80, 90, 100, 110, 120, 150, 170, 200, 300, 350, 400 , 500 , 600 , 700 , 800 , 900) {
  .margin {
    &-auto {
      margin: auto !important;
    }

    &-#{$space} {
      margin: #{$space}px !important;
    }

    &-horizontal-#{$space} {
      margin-left: #{$space}px !important;
      margin-right: #{$space}px !important;
    }

    &-vertical-#{$space} {
      margin-top: #{$space}px !important;
      margin-bottom: #{$space}px !important;
    }

    &-top-#{$space} {
      margin-top: #{$space}px !important
    }

    &-bottom-#{$space} {
      margin-bottom: #{$space}px !important
    }

    &-left-#{$space} {
      margin-left: #{$space}px !important
    }

    &-right-#{$space} {
      margin-right: #{$space}px !important
    }
  }

  .padding {
    &-#{$space} {
      padding: #{$space}px !important;
    }

    &-#{$space}-inherit > * {
      padding: #{$space}px !important;
    }

    &-horizontal-#{$space} {
      padding-left: #{$space}px !important;
      padding-right: #{$space}px !important;
    }

    &-vertical-#{$space} {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }

    &-top-#{$space} {
      padding-top: #{$space}px !important
    }

    &-bottom-#{$space} {
      padding-bottom: #{$space}px !important
    }

    &-left-#{$space} {
      padding-left: #{$space}px !important
    }

    &-right-#{$space} {
      padding-right: #{$space}px !important
    }
  }

  .shrink {
    &-#{$space} {
      flex-shrink: #{$space} !important;
    }
  }

  .min {
    &-height {
      &-#{$space} {
        min-height: #{$space}px !important;
      }

      &-inherit-#{$space} > * {
        min-height: #{$space}px !important;
      }
    }

    &-width {
      &-#{$space} {
        min-width: #{$space}px !important;
      }

      &-inherit-#{$space} > * {
        min-width: #{$space}px !important;
      }
    }
  }

  .height {
    &-#{$space} {
      height: #{$space}px !important;
    }
      &-#{$space}-inherit > * {
        height: #{$space}px !important;
      }
  }

  .width {
    &-#{$space} {
      width: #{$space}px !important;
    }

    &-#{$space}-inherit > * {
      width: #{$space}px !important;
    }
  }

  .radius {
    &-#{$space} {
      border-radius: #{$space}px !important;
    }
  }
}

.clear-fix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.full {
  &-height {
    height: 100%
  }

  &-width {
    width: 100%
  }
}

.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.text {

  &-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
  }

  &-align {
    &-center {
      text-align: center !important;;
    }

    &-left {
      text-align: left !important;
    }

    &-right {
      text-align: right !important;
    }
  }
}


.scrollable {

  &-auto {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  &-vertical {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
  }

  &-horizontal {
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch;
  }
}

.font {
  &-weight {
    &-bold {
      font-weight: bold;
    }
    &-normal {
      font-weight: normal;
    }
  }

  @each $size in (10, 11, 12, 13, 14) {
    &-size-#{$size} {
        font-size: #{$size}px;
    }
  }
}

.color {
  &-white {
    color: white
  }

  &-twhite {
    color: rgba(255, 255, 255, 15 / 100);
  }

  &-grey {
    color:#b7b7b7
  }

  &-darkgrey {
    color:#6f7171
  }
  
  &-red {
    color:#ff4949 !important
  }

  &-blue {
    color:#49abff
  }

  &-yellow {
    color:#e8c414
  }

  &-green {
    color:#38b853
  }

  &-black {
    color: black
  }

  &-gold {
    color: #e3a979
  }

  &-success {
    color: #22c544
  }

  &-danger {
    color: #ff5d6b
  }
}

.justify {
  &-content {
    &-center {
      justify-content: center;

      &-inherit > * {
        justify-content: center;
      }
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }

    &-end {
      justify-content: flex-end;
      
      &-inherit > * {
        justify-content: flex-end;
      }
    }

    &-start {
      justify-content: flex-start;
    }
  }
}

.align {
  &-items {
    &-center {
      align-items: center;

      &-inherit > * {
        align-items: center;
      }
    }
    &-right {
      align-items : flex-end;
    }
  }

  &-self {
    &-center {
      align-self: center;

      &-inherit > * {
        align-self: center;
      }
    }
  }
}

.flex {
  display: flex !important;

  &-inherit > * {
    display: flex !important;
  }

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.background {
  &-black {
    background-color:#212329;
  }
  &-green {
    background-color:#1ca739;
  }
  &-orange {
    background-color:#dc6600;
  }
  &-red {
    background-color:#cc3535;
  }
  &-blue {
    background-color:#3571cc;
  }
  &-transparent {
    background-color:rgba(0, 0, 0, 0);
  }

  @each $alpha in (5, 10, 15, 20, 25, 30, 35, 40) {
    &-transparent {
      &-b-#{$alpha} {
        background-color:rgba(0, 0, 0, $alpha / 100);
      }
      &-w-#{$alpha} {
        background-color:rgba(255, 255, 255, $alpha / 100);
      }
    }
  }
}

.widthp {
  @each $length in (5, 6, 10, 15, 18, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 ) {
    &-#{$length} {
      width: percentage($length/100);
    }
  }
  &-33 {
    width: 33.3333%;
  }
}

.heightp {
  @each $length in (5, 10, 15, 18, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 ) {
    &-#{$length} {
      height: percentage($length/100);
    }
  }
  &-33 {
    width: 33.3333%;
  }
}

@each $grow in (1, 2, 3, 4, 5) {
  .grow {
    &-#{$grow} {
      flex-grow: #{$grow};
    }
  }
}

.border {
  &-top {
    border-top:1px solid rgba(255,255,255, 0.05);
  }
  &-right {
    border-right:1px solid rgba(0, 0, 0, 0.20);
  }
  &-right-shadow {
    box-shadow:0px 1px 0px 1px rgba(255, 255, 255, 0.05);
  }
  &-left-shadow {
    box-shadow:0px 1px 0px 1px rgba(0, 0, 0, 0.2);
  }
  &-bottom {
    border-bottom:1px solid rgba(0, 0, 0, 0.20);
  }
  &-bottom-white {
    border-bottom:1px solid rgba(255,255,255,0.05);
  }
  &-left-white {
    border-left:1px solid rgba(255,255,255,0.05);
  }
  &-right-white {
    border-right:1px solid rgba(255,255,255,0.05);
  }
  &-top-white {
    border-top:1px solid rgba(255,255,255,0.05);
  }
  &-top-white1 {
    border-top:1px solid rgba(255,255,255,0.1);
  }
  &-bottom-white1 {
    border-bottom:1px solid rgba(255,255,255,0.1);
  }
  &-left {
    border-left:1px solid rgba(255,255,255, 0.05);
  }
}